.primary-background{
    background: #000000!important;
}

.title {
    display: inline-block;
    font-size: 3.8vmax;
    font-weight: 100;
    padding: 10px 0;
    margin-bottom: 44px;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 20px;
    letter-spacing: 0;
}

.skill-background{
	background: #311b92!important;
}

.contact-background{
    background: #1a237e!important;
}

#round-contact-button {
    display: flex;
    font-size: 2.5vmax;
    font-weight: 700;
    color: #fff;
    justify-content: center;
    padding: .25rem;
    border-radius: 5vmax;
    -moz-border-radius: 5vmax;
    -webkit-border-radius: 5vmax;
    text-decoration: none;
    width: 30vmax;
    z-index: 999;
    background: #000;
    background: -webkit-linear-gradient(to bottom, #2a2df1, #000);
    background: -o-linear-gradient(to bottom, #2a2df1, #000);
    background: -moz-linear-gradient(to bottom, #2a2df1, #000);
    background: linear-gradient(to bottom, #2a2df1, #000);
    -moz-transition: all ease 1s;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -o-transition: all ease 1s;
}

.footer-copyright {
    overflow: hidden;
    background: #000000!important;
    color: white;
}